# Dependencies
/deps/
/.fetch

# Build
/_build/
/cover/
/doc/

# Mix
/.nix-mix/
/.nix-hex/
*.ez

# Test
/tmp/

# IDE
.elixir_ls/
.vscode/

# Erlang
erl_crash.dump

# OS
.DS_Store

# Lefthook
lefthook-local.yml
